<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" />
<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script>
    var element = document.getElementById('map');
    var map = L.map(element);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var target = L.latLng('40.7447411', '-74.0464602');
    map.setView(target, 15);
</script>

<script>
    var theMarker = {};
    //$('#street').on("keyup", function () {
    $('#street').on("keydown , keyup , change", function () {
        loadmap();
    });
    $("#area").change(function (e) {
        loadmap();
    });

    function loadmap() {
        var street = $('#street').val();
        var area = $('#area').val();
        var requestConfig = {
            method: 'POST',
            url: '/user/map',
            contentType: 'application/json',
            data: JSON.stringify({
                street: street,
                area: area
            }),
            cache: false
        };

        $.ajax(requestConfig).then(function (responseMessage) {
                if (responseMessage.message != "Error") {
                    $("#signupSubmit").prop("disabled", false);
                    if (street.trim() == "") {
                        if (theMarker != undefined) {
                            map.removeLayer(theMarker);
                        };
                    } else {
                        if (theMarker != undefined) {
                            map.removeLayer(theMarker);
                        };
                        var target = L.latLng(responseMessage.message.lat, responseMessage.message.lon);
                        map.setView(target, 14);
                        theMarker = L.marker(target).addTo(map);
                        $('#labelStreet').attr('lat', responseMessage.message.lat);
                        $('#labelStreet').attr('lon', responseMessage.message.lon);
                    }
                } else {
                    $("#signupSubmit").prop("disabled", true);
                    if (theMarker != undefined) {
                        map.removeLayer(theMarker);
                    };
                }

            })
            .catch(function (response) {
                if (theMarker != undefined) {
                    map.removeLayer(theMarker);
                };
            });
    }
</script>