<div>
    <h1> Create Event </h1>
    {{#if error_flag}}
    <div>{{error}}</div>
    {{/if}}
    <form action = '/createGameEvent' method = 'POST' id = 'createGameEvent-form'>
        <label for = "title"> Title </label>
        <input name = 'title' type = 'text' id ='title' placeholder = 'Title'>
        <br>
        <p> Choose a sport <p>
        <br>
        <label for = "soccer"> Soccer </label>
        <input name = 'sportCategory' type = 'radio' id ='soccer' value = "Soccer">
        <label for = "football"> Football </label>
        <input name = 'sportCategory' type = 'radio' id ='football' value = "Football">
        <label for = "golf"> Golf </label>
        <input name = 'sportCategory' type = 'radio' id ='golf' value = "Golf">
        <label for = "baseball"> Baseball </label>
        <input name = 'sportCategory' type = 'radio' id ='baseball' value = "Baseball">
        <label for = "basketball"> Basketball </label>
        <input name = 'sportCategory' type = 'radio' id ='basketball' value = "Basketball">
        <label for = "badminton"> Badminton </label>
        <input name = 'sportCategory' type = 'radio' id ='badminton' value = "Badminton">
        <label for = "swimming"> Swimming </label>
        <input name = 'sportCategory' type = 'radio' id ='swimming' value = "Swimming">
        <label for = "archery"> Archery </label>
        <input name = 'sportCategory' type = 'radio' id ='archery' value = "Archery">
        <label for = "dodgeball"> Dodgeball </label>
        <input name = 'sportCategory' type = 'radio' id ='dodgeball' value = "Dodgeball">
        <label for = "frisbee"> Frisbee </label>
        <input name = 'sportCategory' type = 'radio' id ='frisbee' value = "Frisbee">
        <br>
        <label for = "description"> Description </label>
        <input name = 'decription' type = 'text' id ='description' placeholder = 'Description'>
        <br>
        <label for = "address"> Address </label>
        <input name = 'address' type = 'text' id ='address' placeholder = 'Address'>


        <!-- How do I handle inputs for date/time -->
        <label for = "startTime"> Choose Start Date and Time </label>
        <input name = 'startTime' type = 'datetime-local' id ='startTime' min = {{today}}>

        <label for = "endTime"> Choose End Date and Time </label>
        <input name = 'endTime' type = 'datetime-local' id ='endTime' min = {{limit}}>

        <label for = "minParticipants"> Minimum number of Participants </label>
        <input name = 'minParticipants' type = 'number' id ='minParticipants' placeholder = 'Minimum'>

        <label for = "maxParticipants"> Maximum number of Participants </label>
        <input name = 'maxParticipants' type = 'number' id ='maxParticipants' placeholder = 'Maximum'>

        <button type = "submit"> Create Event </button>
    </form>
</div>
