<div class="container">
    <h1>{{title}}</h1>
    <main>
        <article>
            <p class="error">{{error}}</p>
        </article>
        <button onclick="history.back()">Return</button>
    </main>
</div>