<header>
    <h1>
        Contact us page
    </h1>
</header>

<form method="POST" id="login-form">
    <p>If you have any technical issues, please drop us a message explaining the issue.
    </p>
    <label id="labeltitle" for="msgtitle"> Enter title: </label>
    <input id="msgtitle" type="text" placeholder="Enter title" name="title" />

    <label id="labelEmail" for="email"> Enter Email: </label>
    <input id="email" type="text" placeholder="Enter Email" name="email" />

    <label id="labelDescription" for="description"> Enter a description: </label>
    <textarea id="description" placeholder="Enter description" name="description"> </textarea>

    <button id="btnsend">send</button>
</form>
<ul id="error">
</ul>

<script src="/public/js/contactus.js"></script>