<header>
    <h1>
        Contact us page
    </h1>
</header>

<form method="POST" id="login-form">

    <label id="labeltitle" for="title"> Enter title: </label>
    <input id="title" type="text" placeholder="Enter title" name="title" value="{{title}}" />

    <label id="labelEmail" for="email"> Enter Email: </label>
    <input id="email" type="text" placeholder="Enter Email" name="email" value="{{email}}" />

    <label id="labelDescription" for="description"> Enter a description: </label>
    <textarea id="description" placeholder="Enter description" name="description" value="{{description}}"> </textarea>

    <button id="btnsend">send</button>
</form>
<ul id="error">
</ul>

<script src="/public/js/contactus.js"></script>